.content{
  .main{
    .balance{
      p{
        margin-top: -10px;
      }
      display: flex;
      flex-direction: column;
      top: 10px;
      position: sticky;
      z-index: 9999;
      align-items: center;
      align-content: center;
      background: linear-gradient(180deg,#2ecc71,#1abc9c);
      flex-wrap: nowrap;
      margin-top: 15px;
      color: white;
      border-radius: 15px;
    }
    .card{
      .product{
        img{
          display: block;
          margin: 15px auto;
          height: 120px;
          max-width: 100%;
          -o-object-fit: contain;
          object-fit: contain;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        h3{
          color: #1d9525;
          font-size: 20px;
          margin-top: -15px;
        }
        .buttons{
          .sell{
            background-color: #e9e9e9;
            color: black;
            border: none;
            border-radius: 5px;
            width: 70px;
            height: 40px;
            font-size: 20px;
            font-weight: 500;
            margin-right: 10px;
            &:hover{
              background-color: #bcb9b9;
            }
          }
          .buy{
            background-color: #3bce44;
            color: white;
            border: none;
            border-radius: 5px;
            width: 70px;
            height: 40px;
            font-size: 20px;
            font-weight: 500;
            margin-left: 10px;
            &:hover{
              background-color: #1d9525;
            }
          }
          input{
            width: 100px;
            border: #cfcbcb solid 1px;
            border-radius: 5px;
            font-size: 20px;
            text-align: center;
            height: 34px;
          }
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          align-content: center;
          margin-bottom: 15px;
        }
        background-color: white;
        width: 460px;
        flex: 22%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        height: 400px;
        align-items: center;
        margin-bottom: 15px;
        border-radius: 15px;
        margin-right: 10px;
      }
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .profile{
      img{
        width: 140px;
        height: 140px;
        border-radius: 100%;
      }
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      padding: 20px;
      align-content: center;
      background-color: white;
    }
    margin-top: 20px;
  }
  .header{
    .left{
      p{
        margin-top: 20px;
        margin-left: 20px;
      }
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
    .right{
      .fa-github{
        color: #3c3a3a;
      }
      .fa-instagram{
        color: #e1306c;
      }
      .fa-twitter{
        color: #1da1f2;
      }
      .fa-linkedin{
        color: #0077b5;
      }
      width: 140px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
  }
}
